body{
    margin: 0;
    padding: 0;
}


.contenedor_grid{
    background-color: gainsboro;
    height: 650px;
    display: grid;
    grid-template-areas: 
        'head head'
        'nav nav'
        'aside main'
        'footer footer';
    grid-template-rows: 10% 5% auto 10%;
    grid-template-columns: 15% auto;
}

/* -------- HEADER -------- */
.cheader{
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
}

.g1{
    grid-area: head;
    /* background-color: red; */
}

.img_logo{
    height: 60px;
    width: 220px;
    margin: 3px 0px 10px 2px;
}

.logout_button{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px 0px 150px;
}

.logout_link{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px 0px 500px;
    font-weight:500;
    color: rgb(0, 26, 65);
}

.logout_link:hover{
    color:red;
}

.icon_exit{
    justify-content: center;
    align-items: center;
    padding: 0px 2px 3px 0px;
}


/* -------- BAR -------- */
.cnav{
    background-color: black;
    color: white;
    font-family: "Manrope", sans-serif;
}

.g2{
    grid-area: nav;
    /* background-color: green; */
}

.subtitle{
    text-align: center;
    justify-content: center;
    margin-top: 5.5px;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 15px;
    color: rgb(110, 110, 110);
    font-weight: 400;
}

.subtitle b{
    font-weight: 900;
}

/* -------- ASIDE -------- */
.caside{
    background-color: rgb(0, 26, 65); /*rgb(41, 41, 48) gris oscuro azulado*/
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.g3{
    grid-area: aside;
    /* background-color: blueviolet; */
}

.button_contenedor{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: flex; */
    flex: 1; /* Ensure the button container takes equal space */
    max-width: 200px; /* Set a max width if needed */
}

.bottom_nav{
    font-family: "Kanit", sans-serif;
    background-color: rgb(0, 14, 36);
    padding: 25px 0px 25px 0px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}

.bottom_nav:hover{
    background-color: rgb(0, 63, 163);
    transition: .3s;
}

.row{
    flex-wrap: nowrap;
    flex-direction: column;
}


/* -------- MAIN -------- */
.cmain{
    background-color: rgb(209, 209, 209);
}

.g4{
    grid-area: main;
    /* background-color: yellow; */
}

.tittle_met{
    font-family: "Kanit", sans-serif;
    text-align: center;
    justify-content: center;
    color: rgb(0, 63, 163);
    font-weight: 600;
}


.contendor_int{
    background-color: white;
    padding: 20px;
    margin: 15px 20px 15px 20px;
    min-height: 460px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(175, 175, 175);
}

.table{
    max-width: 60%;
    align-items: center;
    margin: auto;
    font-family: "Manrope", sans-serif;
}


.th_tittle{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 20px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group-inline label {
    margin-right: 10px;
}
.form-group-inline button {
    margin-left: 10px;
}

form{
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-top: 70px;
    justify-content: center;
    font-family: "Manrope", sans-serif;
}

form .label_tt {
    font-weight: 600;
    background-color: rgb(0, 26, 65);
    padding:8px;
    color: white;
    border-radius: 5px ;
    margin-right: 0px;
}

form input{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}





.button_login{
    background-color: rgb(0, 87, 218);
    border: 2px solid rgb(0, 67, 167);
    border-radius: 10px;
    padding: 12px 8px 12px 8px;
    justify-content: center;
    max-width: 120px;
    margin: 5px 0px 0px 90px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.button_login:hover{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: .3s;
}


/* -------- FOOTER -------- */
.cfooter{
    background-color: black;
    color: white;
    height: 12vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.g5{
    grid-area: footer;
    /* background-color: blue; */
}


.empresas{
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.empresas_nm{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgb(0, 63, 163);
    margin-top: 10px;
}

.devs{
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(83, 83, 83);
    font-style: italic;
    margin-bottom: 0;
}

#buscarBtn{
    background-color: rgb(0, 87, 218);
    border: 2px solid rgb(0, 67, 167);
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    justify-content: center;
    max-width: 120px;
    margin: 5px 0px 0px 90px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}








